@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.homepageg {
    background-color: #14161a;
    color: white;
    min-height: 100vh;
}

.coinpageg {
    background-color: #14161a;
    color: white;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: gold;
}

.typo-title {
    flex: 1;
    color: gold;
    font-family: "Montserrat";
    font-weight: bold;
    cursor: pointer;

}

.banner-main {
    background-image: url("https://raw.githubusercontent.com/piyush-eon/react-crypto-tracker/master/public/banner2.jpg");

}

.banner-content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    justify-content: space-between;
}

.banner-tagline {
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* .carousel-div {
    height: 50%;
    display: flex;
    align-items: center;
} */